*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;
}

.logo-photo{
    width: 110px;
    padding: 20px;
}

.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
}
.item:hover{
    color: yellow;
}

.banner-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center; 
    color: white;
    /* border: 2px solid gray; */
    background-image: url("./images/background.png"), 
    linear-gradient(45deg,rgb(8, 8, 8), rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

.description{

font-size: 18px;
margin-top: 15px;
margin-bottom: 15px;

}

.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;

}

.btn:hover{
    color: blue;
    
}


/* about part start from here  */

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
   padding: 10px;

}


.about-title{
    text-align: center;
    padding: 20px;
    margin: 10px;
    cursor: pointer;

}

.about-description1{
    font-size: 18px;
    margin-top: 5px;

}


.about-description2{
    font-size: 18px;
    margin-bottom: 15px;
}

.box{
    width: 230px;
    height: 320px;
    box-shadow: 4px 4px 15px gray;
    border-radius: 5px;
    border: 1px solid powderblue;
    background-color: black;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 30px powderblue;
}

.icon{
    width: 70px;
}

.box-btn{
    background-color: rgb(32, 32, 32);
    margin-top: 10px;
    border-radius: 3px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 5px;
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;   
}

.back{
    background-image: url("../images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(58, 58, 58));
    height: 620px;
}

.title-bg{
    color: white;
}

/* from here footer css start */

.footer-container{
    background-color: rgb(21, 21, 21);
     color: white;
    
     display: flex;
     justify-content: space-around;
     list-style-type: none;
 }
 .im{
      width: 150px; 
 }
 .bb{
     padding-top: 15px;
     padding-bottom: 15px;
     margin-top: 80px;
     margin-bottom: 150px;
     
     
 }
 .ti{
     padding: 10px;
 }
 .bol{
     font-size: 30px;
     font-weight: bolder;
     
 }
 .bol:hover{
     color: blue;
     cursor: pointer;
 }
 .uk{
     background-color: rgb(21, 21, 21);
     color: white;
     justify-content: center;
     align-items: center;
     
     
 }
 hr{
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
 }
 .copy{
     justify-content: center;
     text-align: center;
     margin-top: 10px;
     padding-bottom: 10px;
 }